﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first ASP.NET Core web page!</h1>
    <p>This is my first try at creating an ASP.NET Core web page!!</p>
</div>
